﻿@model GemsCafe.Website.ViewModels.ContactViewModel

<p>@Model.FormIntro</p>
@using (Html.BeginForm("Contact", "Contact"))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12">
            @Html.ValidationSummary()
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-6">
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        </div>
        <div class="form-group col-lg-6">
            @Html.LabelFor(x => x.Email)
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-lg-12">
            @Html.LabelFor(x => x.Message)
            @Html.TextAreaFor(x => x.Message, new { @class = "form-control", rows = 6 })
        </div>
        <div class="form-group col-lg-12">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
}