﻿@model GemsCafe.Website.ViewModels.ContactViewModel

@section JsFooter
{
    <script>
        jQuery.fn['any'] = function () {
            return (this.length > 0);
        };

        $(document).ready(function() {            
            var div = $('.input-validation-error, .alert-success').first();
            if (!div.any()) return;
            var scrollPos = div.offset().top;
            $(window).scrollTop(scrollPos);
        });
    </script>
}

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                @Model.Title
            </h2>
            <hr>
        </div>
        <div class="col-md-8">
            <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="@Model.GoogleMapsUrl"></iframe>
        </div>
        <div class="col-md-4">
            @Html.Raw(Model.Address)
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                Contact <strong>form</strong>
            </h2>
            <hr>
            @if (!Model.FormPostSuccess) {
                @Html.Partial("_ContactForm", Model)
            } else {
                @Html.Partial("_ContactFormThanks", Model)
            }
        </div>
    </div>
</div>
