﻿@model GemsCafe.Website.ViewModels.Components.FooterViewModel

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                @Html.Raw(Model.Text)
            </div>
        </div>
    </div>
</footer>