﻿@model GemsCafe.Website.ViewModels.Components.TopNavigationViewModel

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Gems Cafe</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                @foreach (var naviagtionItem in Model.NavigationItems)
                {
                    <li><a href="@naviagtionItem.Url">@naviagtionItem.Title</a></li>
                }
            </ul>
        </div>
    </div>
</nav>